@model List<Smeni.Models.Grafici>

@{
    ViewData["Title"] = "Home Page";
}

@section header{

    <nav class="navbar navbar-expand-sm navbar-dark fixed-top   navbar_background ">
        <div class=" container  ">
            <a class="navbar-brand" href="#">
                <img src="~/img/logo.png" alt="" height="38" />
                <span class="font-weight m-sm-2">РУ "АНГЕЛ КЪНЧЕВ"</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#hero">Начало <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#informaciq">Информация</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="#karta">Почивни карти</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#galeriq">Галерия</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#grafik">График смени</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#footer">Контакти</a>
                    </li>


                </ul>
            </div>
        </div>
        <button type="button" asp-action="rezervacii" asp-controller="home" class="btn btn-primary btn-sm">Резервирай</button>
    </nav>
}


<!-- ======= Hero Section ======= -->
<section id="hero" class="hero border border-secondary">
    <div class="container h-100">

        <div class="row col-12 h-50 align-items-center text-white text-lg-center">
            <div class="m-auto">
                
                <h1>Почивна база "Шкорпиловци"</h1>
                <h2>Природата винаги носи цветовете на духа. (Ралф Уолдо Емерсън)</h2>
            </div>
        </div>
    </div>
</section>

<!-- End Hero -->
<!-- ======= Karta Section ======= -->
<section id="karta" class="karta border border-secondary">


    <div class="row position-absolute">
        <div class="col-lg-12 ">
            <div id="success"></div>
        </div>
    </div>


    <div class="col-lg-12 ">
        <div class="panel panel-default img-fluid text-center ">
            <img src="/img/Karta.png" class="img-fluid" alt="Responsive image">
            <div class="panel-heading">

            </div>
            <div class="container">

            </div>
        </div>
    </div>
    <!-- End .content-->
</section><!-- End Karta Section -->
<!-- ======= Galeriq Section ======= -->
<section id="galeriq" class="galeriq bg-light border border-secondary">
    <center><p class="font-weight-bold">ГАЛЕРИЯ</p></center>
    <div class="photo-grid-container">
        <div class="photo-grid-item">
            <img src="~/img/back_6.jpg" />
        </div>
        <div class="photo-grid-item">
            <img src="~/img/back.jpg" />
        </div>
        <div class="photo-grid-item">
            <img src="~/img/back_5.jpg" />
        </div>
        <div class="photo-grid-item">
            <img src="~/img/back_2.jpg" />
        </div>
        <div class="photo-grid-item">
            <img src="img/Besedka.jpg" />
        </div>
        <div class="photo-grid-item">
            <img src="img/51.jpg" />
        </div>
        <div class="photo-grid-item">
            <img src="img/2_3.jpg" />
        </div>
        <div class="photo-grid-item">
            <img src="~/img/back_7.jpg" />
        </div>
        <div class="photo-grid-item">
            <img src="img/back_4.jpg" />
        </div>
        <div class="photo-grid-item">
            <img src="img/Add.jpg" />
        </div>
    </div>

</section>
<!-- End Galeriq Section -->
<!-- ======= Informaciq Section ======= -->
<section id="informaciq" class="informaciq border border-secondary">
    <center><p class="font-weight-bold">ИНФОРМАЦИЯ</p></center>
    <p>Почивна база</p>
    <p>
        Намира се на 1,5 километра южно от град Обзор посока Бургас. Има поставени табели за лесна ориентация. Местността е гористо-тревиста. Плажът е изключително чист, спокоен и охраняем, на около 200 м от почивната база и не разполага с чадъри и шезлонги. До Обзор има крайбрежна пешеходна алея. Автогарата на града се намира на 1,8 км разстояние, а центърът на Обзор – на 2,2 км. Плажът Иракли е разположен на 8 км от комплекса. Почивна база BulMag е една звезда и е за всички, които искат да си изкарат страхотно край морето. Уют, спокойствие и релакс.
    </p>
</section>
<!-- End Informaciq Section -->
<!-- ====== Grafik Section ======= -->
<section id="grafik" class="grafik border border-secondary ">
    <center><p class="font-weight-bold">ГРАФИК СМЕНИ</p></center>
    <div class=" table-active text-center ">
        <table class="table table-bordered  ">
            <tr>
                <th>Номер</th>
                <th>Смяна</th>
                <th>От Дата</th>
                <th>До Дата</th>

            </tr>
            @foreach (var grafik in Model)
            {
                <tr>
                    <td>@grafik.Id</td>
                    <td>@grafik.Nomer</td>
                    <td>@grafik.Ot</td>
                    <td>@grafik.Do</td>


                </tr>

            }
        </table>

    </div>
</section>
<!-- End Grafik Section -->
<!-- ======= Footer ======= -->

<section id="footer" class="footer border border-secondary">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                        <h3>"Шкорпиловци"</h3>
                        <p class="pb-3"><em>Здравейте, винаги сме отворени за сътрудничество и предложения,свържете се с нас по един от начините по-долу.</em></p>
                        <p>
                            СБХА Шкорпиловци
                            9112 България<br><br>
                            <strong>Телефон:</strong> 088 242 3061<br>
                            <strong>Емайл:</strong> Sbhshkorpilovtsi@gmail.com<br>
                        </p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Полезно връзки</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#hero">Начало</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#karta">Карта</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Относно нас</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/Home/Privacy">Декларация за поверителност</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Бюлетин</h4>
                    <p>
                        Въведете вашия емайл адрес по-долу,за да се абонирате за нашия бюлетин и бъдете в крак с офертите и специалните отстъпки
                    </p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Абонирай се">
                    </form>

                </div>
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2920.1957991729987!2d27.889524415774726!3d42.95307810543626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a438e81e9f93c9%3A0x551a881aca3b89ab!2z0J_QvtGH0LjQstC90LAg0YHRgtCw0L3RhtC40Y8g0KjQutC-0YDQv9C40LvQvtCy0YbQuCAtINCg0YPRgdC10L3RgdC60Lgg0KPQvdC40LLQtdGA0YHQuNGC0LXRgiAi0JDQvdCz0LXQuyDQmtGK0L3Rh9C10LIiLyBIb2xpZGF5IEhvdXNlIG9mIFJ1c2UgVW5pdmVyc2l0eSAiQW5nZWwgS2FuY2hldiI!5e0!3m2!1sen!2sbg!4v1628515413230!5m2!1sen!2sbg" height="250" width="750" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="copyright text-center">
            &copy; Русенски Университет <strong><span>"Ангел Кънчев"</span></strong>.
        </div>

    </div>
</section>
